<h1 ng-bind="title"></h1>
<h3>Support only VK auth</h3>

<div class="row">
    <div class="comments-container widget">
        {% verbatim %}
        <div class="comment-avatar"><img ng-src="{{ profileImage }}" alt=""></div>
        {% endverbatim %}
        <div class="widget-area no-padding blank">
          <div class="status-upload">
            <form>
              <textarea placeholder="Ваш комментарий" ng-model="commentText"></textarea>
              <ul>
                <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
              </ul>
              <button type="submit" class="btn btn-success green" ng-disabled="!isAuthorization" ng-click="addComment(url, profileImage, commentText, firstName + ' ' + secondName); commentText = ''"><i class="fa fa-share"></i> Отправить </button>
            </form>
          </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
    </div>
</div>

<div class="row">
    <!-- Contenedor Principal -->
    <div class="comments-container">
		<h1>Комментарии</h1>

		<ul id="comments-list" class="comments-list">
			<li ng-repeat="comment in comments" ng-include="'includes/comments.html'">
			</li>
		</ul>
	</div>
</div>