<h1 ng-bind="title"></h1>
<h3>Support only VK auth</h3>

<div class="row">
    <div class="col-md-12">
        <div class="home">
            <div class="user-info">
                 <a href="{{ url }}" target="_blank" class="thumbnail">
                  <img src="{{ profileImage }}" alt="...">
                </a>
            </div>
            <div class="comment-block">
                <textarea></textarea>
            </div>
            <button class="pull-right"> Отправить </button>
        </div>
    </div>
</div>